{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    {{ form_end(form) }}
  </div>
</div>
