<td {% if repas == 'midi' %}class="midi"{% else %}class="soir"{% endif %}>
  {% if entree is null %}
    <a href="{{ path('ajouter_entree_planning', {'slugUser': app.user.slugUser, 'date': dateDuJour, 'repas': repas}) }}">
      Ajouter le repas
    </a>
  {% else %}

    <dl class="dl-horizontal">
    {% for recette in entree.recettes %}
        <dt>{{ recette.categorieRecette.nom }}</dt>
        <dd>
          <a href="{{ path('voir_recette', {'slugUser': app.user.slugUser, 'slug': recette.slug}) }}">
            {{ recette.nom }}
          </a>
        </dd>
    {% endfor %}
    </dl>
  {% endif %}
</td>
