{% extends '::base.html.twig' %}

{% block body %}
  <h1>Planning</h1>
  <p>
    Semaine du {{ dateDebut|localizeddate('short', 'none') }}
    au {{ dateDebut|date_modify('Sunday')|localizeddate('short', 'none') }}
  </p>

  {% include 'planning/tableau.html.twig' %}
{% endblock %}
