<div id="div-planning">
  <h1 class="titre-planning text-center">Planning de la semaine</h1>
  <script type="text/javascript">
    var slug = '{{ app.user.slugUser }}';
  </script>
  <table id="planning" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="jour">Jour</th>
        <th class="midi">Midi</th>
        <th class="soir">Soir</th>
      </tr>
    </thead>
    {% include 'planning/tableau_body.html.twig' %}
  </table>

  <nav>
    <ul class="pager">
      <li class="previous">
        <a id="semaine-precedente" href="#" title="{{ dateDebut|date_modify('-1 week')|date('d-m-Y') }}">
          <span aria-hidden="true">&larr;</span> Semaine précédente
        </a>
      </li>
      <li class="next">
        <a id="semaine-suivante" href="#" title="{{ dateDebut|date_modify('+1 week')|date('d-m-Y') }}">
          Semaine suivante <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
