{% extends '::layout.html.twig' %}

{% block b %}
  <div class="row">
      <div class="col-md-2">
        {% include 'header.html.twig' %}
      </div>
      <div class="col-md-10">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
        {% block body %}{% endblock %}
      </div>
    </div>
{% endblock %}
