{% extends '::layout.html.twig' %}

{% block b %}
  <div class="row">
    {% include 'nav.html.twig' %}
    <div id="results"></div>
    <div class="col-md-12">
      {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
      {% block body %}{% endblock %}
    </div>
  </div>
{% endblock %}
