<td {% if entree is null %}class="danger"{% endif %}>
  {% if entree is null %}
    <a href="{{ path('ajouter_entree_planning', {'date': dateDuJour, 'repas': repas}) }}">
      Ajouter le repas
    </a>
  {% else %}
    <ul class="list-unstyled">
    {% for recette in entree.recettes %}
        <li>
          <a href="{{ path('voir_recette', {'slug': recette.slug}) }}">
            {{ recette.nom }}
          </a>
        </li>
    {% endfor %}
    </ul>
  {% endif %}
</td>
