{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>Présentation</h1>
    <p>
      Ce site est destiné à créer votre propre livre de cuisine, partager vos recettes.
    </p>
  </div>
</div>
{% endblock %}
