{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-8">
    <h1>Planning de la semaine</h1>
    {{ render(controller('AppBundle:Planning:tableau', {'user': app.user})) }}
  </div>
  <div class="col-md-4">
   {{ render(controller('AppBundle:ListeDeCourse:liste', {'user': app.user})) }} 
  </div>
</div>
<hr>
{% include 'user/actions.html.twig' %}
{% endblock %}
