{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-5 col-md-offset-2">
    {{ render(controller('AppBundle:Planning:tableau', {'user': app.user, 'date': "now"|date('d-m-Y')})) }}
  </div>
  <div class="col-md-4">
    {{ render(controller('AppBundle:ListeDeCourse:liste')) }} 
  </div>
</div>
{% endblock %}
