{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal" role="form">

  {% if invalid_username is defined %}
    <div class="alert alert-danger">
      <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    </div>
  {% endif %}

  <div class="form-group">
    <label for="username" class="col-md-3 control-label">{{ 'resetting.request.username'|trans }}</label>
    <div class="col-md-3">
      <input type="text" id="username" name="username" required="required" class="form-control"/>
    </div>
  </div>

  <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
  
</form>
