<div class="quote-container">
  <i class="pin"></i>
  <div class="note yellow">
    <h1 class="text-center">Liste de courses</h1>
    <p class="text-center"><small><a href="{{ path('faire_mes_courses', {'slugUser': app.user.slugUser}) }}">Je fais mes courses</a></small></p>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        {% for rayon in rayons %}

          {% set found = false %}

          {% for entree in liste.entrees %}
            {% set produit = entree.ingredient is null ? entree.produit : entree.ingredient %}
            {% if rayon in produit.rayons %}
              
              {% if not found %}
                <h2>{{ rayon.nom }}</h2>
                <ul>
                {% set found = true %}
              {% endif %}
            
              <li>{{ produit.nom }}</li>

            {% endif %}

          {% endfor %}

          {% if found %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <a class="btn btn-primary" id="ajouter-produit" href="#"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>
</div>
