<div class="quote-container">
  <i class="pin"></i>
  <div class="note yellow">
    <h1 class="text-center">Liste de courses</h1>
    {% for rayon in rayons %}
      <h2>{{ rayon.nom }}</h2>
      <a class="btn btn-primary" id="ajouter-produit" href="#"><span class="glyphicon glyphicon-plus"></span></a>
    {% endfor %}
  </div>
</div>
