<p>
{% if produits is empty %}
  Aucun résultat.
{% else %}
  <ul class="list-inline">
    {% for produit in produits %}
      <li><a class="resultat-produit" href="#">{{ produit.nom }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
</p>
