<div class="col-md-3">
  <a href="#" type="button" class="collection-up btn btn-default" title="Move element up"><span class="glyphicon glyphicon-hand-up"></span></a>
  <a href="#" type="button" class="collection-down btn btn-default" title="Move element down"><span class="glyphicon glyphicon-hand-down"></span></a>
  <div class="btn-group" role="group" aria-label="Supprimer, dupliquer, ajouter">
    <a href="#" type="button" class="collection-delete btn btn-danger" title="Supprimer élément"><span class="glyphicon glyphicon-trash"></span></a>
    <a href="#" type="button" class="collection-duplicate btn btn-info" title="Dupliquer élément"><span class="glyphicon glyphicon-th-large"></span></a>
    <a href="#" type="button" class="collection-add btn btn-primary" title="Ajouter élément"><span class="glyphicon glyphicon-plus-sign"></span></a>
  </div>
</div>
